@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f2f2;
  --foreground: #323232;
  --card: #fff5f5;
  --card-foreground: #3C3C3C;
  --popover: #fff;
  --popover-foreground: #1a1a1a;
  --primary: #ff6e6e;
  --primary-foreground: #fff;
  --secondary: #e6e6e6;
  --secondary-foreground: #000;
  --muted: #f2f6f9;
  --muted-foreground: #7E8392;
  --accent: #e6e6e6;
  --accent-foreground: #f2f2f2;
  --destructive: #EA1D2C;
  --destructive-foreground: #fff;
  --border: #d9e3ef;
  --input: #80b0cc;
  --ring: #ff6e6e;
  --radius: 0.75rem;
}

.dark {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --card: #1a1a1a;
  --card-foreground: #ffffff;
  --popover: #0d0d0d;
  --popover-foreground: #ffffff;
  --primary: #ff6e6e;
  --primary-foreground: #fff;
  --secondary: #333333;
  --secondary-foreground: #fff;
  --muted: #404040;
  --muted-foreground: #8c9ba8;
  --accent: #404040;
  --accent-foreground: #f2f2f2;
  --destructive: #EA1D2C;
  --destructive-foreground: #fff;
  --border: #808080;
  --input: #808080;
  --ring: #ff6e6e;
  --radius: 0.75rem;
}


@layer base {
  * {
    @apply box-border m-0 p-0;
  }

  body,
  html {
    @apply text-foreground antialiased overflow-x-hidden;
  }
}